<nav id="header-nav" class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <%= link_to "Telesocia", root_path, class: 'navbar-brand' -%>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav">
	<li><%= link_to "Home", root_path -%></li>

	<!-- Telesoci links -->
	<% if user_signed_in? -%>
	<li><%= link_to "Show Telesocis", telesocis_path %></li>
	<li><%= link_to "Add Telesoci", new_telesoci_path %></li>
	<% end %>
      </ul>
      
      <!-- User account links -->
      <ul class="nav navbar-nav navbar-right">
	<% if user_signed_in? -%>
	<!-- TODO: change 'account settings' link to use a gravatar image of the user (need to add gravatar to user properties) -->
	<li><%= link_to "Account Settings", edit_user_registration_path %></li>
	<li><%= link_to "Dashboard", dashboard_path %></li>
	<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
	<% else %>
	<li><%= link_to "Register", new_user_registration_path %></li>
	<li><%= link_to "Log In", new_user_session_path, method: :get %></li>
	<% end -%>
      </ul>

    </div>
  </div>
</nav>
